Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized, stored, and managed in a way that allows for efficient retrieval, manipulation, and querying of the data. Databases are used to store and manage large amounts of information for various purposes, such as applications, websites, and analytics.

SQL Databases:

Relational data model with tables.
Fixed schema, rigid structure.
ACID compliance for data integrity.
Suitable for structured data and complex queries.
Best for applications requiring well-defined relationships.
NoSQL Databases:

Various data models (document, key-value, etc.).
Flexible schema, adaptable structure.
Emphasize scalability and performance.
Suited for unstructured or rapidly changing data.
Ideal for applications needing high scalability and quick development.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used to define and manage the structure of a database, including creating, altering, and deleting database objects like tables, indexes, and constraints.

Here are explanations and examples for the DDL commands you mentioned:

CREATE:

Purpose: Used to create new database objects, such as tables, indexes, and views.

Example: Creating a table named "Employees" with columns for ID, name, and salary:

In [1]:
CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(50),
    Salary DECIMAL(10, 2)
);

SyntaxError: invalid syntax (3674241040.py, line 1)

DROP:

Purpose: Used to delete existing database objects, such as tables or indexes.

Example: Dropping the "Employees" table:

ALTER:

Purpose: Used to modify the structure of an existing database object, such as adding, modifying, or deleting columns.

Example: Adding a new column "Department" to the "Employees" table:

In [ ]:

ALTER TABLE Employees
ADD Department VARCHAR(50);

TRUNCATE:

Purpose: Used to remove all rows from a table quickly while keeping the table structure intact.

Example: Truncating the "Employees" table to remove all records:

In [3]:
TRUNCATE TABLE Employees;

SyntaxError: invalid syntax (3066608949.py, line 1)

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to manipulate data within a database. DML commands are responsible for inserting, updating, and deleting data in database tables.
Here are explanations and examples for the DML commands you mentioned:

INSERT:

Purpose: Used to insert new records into a database table.

Example: Inserting a new employee record into an "Employees" table:

INSERT INTO Employees (EmployeeID, FirstName, LastName, Salary)
VALUES (101, 'John', 'Doe', 50000);

UPDATE:

Purpose: Used to modify existing records in a database table.
Example: Updating the salary of an employee with ID 101 in the "Employees" table:

In [6]:
UPDATE Employees
SET Salary = 55000
WHERE EmployeeID = 101;

SyntaxError: invalid syntax (2739399584.py, line 1)

DELETE:

Purpose: Used to delete records from a database table.
Example: Deleting an employee with ID 101 from the "Employees" table:

In [7]:
DELETE FROM Employees
WHERE EmployeeID = 101;

SyntaxError: invalid syntax (3060304927.py, line 1)

Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) is a subset of SQL used to retrieve data from a database. The primary command in DQL is SELECT, which retrieves specific columns and rows from a table based on conditions.

Example:
Suppose you have a table named "Products" with columns "ProductID," "ProductName," "Price," and "Category." You want to retrieve the names and prices of products in the "Electronics" category.

In [4]:
SELECT ProductName, Price
FROM Products
WHERE Category = 'Electronics';

SyntaxError: invalid syntax (537208280.py, line 1)

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a column or set of columns in a database table that uniquely identifies each record in that table. It ensures that there are no duplicate or null values in the key column(s), thereby providing a reliable way to uniquely identify each row. Primary keys are crucial for maintaining data integrity and for establishing relationships between tables.

characteristics of a primary key - unique,Not null, Single or composite , Fixed.

Foreign Key:
A foreign key is a column in a database table that establishes a link between the data in two tables. It creates a relationship by referencing the primary key column(s) of another table. Foreign keys are used to maintain referential integrity and to enforce relationships between tables.

characteristice of a foreign key:
    References primary key, Ensures Integrity ,Represents Relationships

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
`import mysql.connector


mydb = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="mydatabase"
)


cursor = mydb.cursor()
query = "SELECT * FROM employees"
cursor.execute(query)

result = cursor.fetchall()

for row in result:
    print(row)

cursor.close()
mydb.close()

cursor() Method:
The cursor() method is used to create a cursor object, which is an essential component for interacting with databases. A cursor acts as a handle or pointer to the result set of a query. It allows you to execute SQL statements, retrieve data from the database, and manage transactions.

execute() Method:
The execute() method is used to execute SQL statements, such as SELECT, INSERT, UPDATE, DELETE, etc., using the cursor. It takes an SQL query as an argument and performs the specified action on the database.

Q7. Give the order of execution of SQL clauses in an SQL query.

In a concise form, the order of execution of SQL clauses in a query is as follows:

FROM
WHERE
GROUP BY
HAVING
SELECT
DISTINCT
ORDER BY
LIMIT/OFFSET (or FETCH/FIRST)
UNION/INTERSECT/EXCEPT