Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)

print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

In [7]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Claire"],
    "Age": [25, 30, 27],
    "Gender": ["Female", "Male", "Female"]
}

df = pd.DataFrame(data)

print(df.to_string(index=False))

  Name  Age Gender
 Alice   25 Female
   Bob   30   Male
Claire   27 Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure. It is one of the most commonly used data structures in Pandas and is similar to a spreadsheet or SQL table. A DataFrame consists of rows and columns, where each column can be of a different data type (e.g., integers, floats, strings), and it allows you to store and manipulate structured data efficiently. You can think of a DataFrame as a container for multiple Pandas Series that share the same index.

On the other hand, a Pandas Series is a one-dimensional array-like object that can hold data of any type. It is essentially a single column of data with associated labels (index). Think of it as a single column in an Excel spreadsheet or a single attribute in a dataset.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [9]:
import pandas as pd


fruits = pd.Series(["Apple", "Banana", "Cherry", "Date"])
print("Series:")
print(fruits)

data = {
    "Fruit": ["Apple", "Banana", "Cherry", "Date"],
    "Quantity": [10, 5, 8, 12]
}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

Series:
0     Apple
1    Banana
2    Cherry
3      Date
dtype: object

DataFrame:
    Fruit  Quantity
0   Apple        10
1  Banana         5
2  Cherry         8
3    Date        12

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Selection and Filtering:

loc[] and iloc[]: These methods are used to select specific rows and columns by label or integer location, respectively.
Example: df.loc[df['Age'] > 25] selects rows where the 'Age' column is greater than 25.

Sorting:

sort_values(): Sorts the DataFrame by one or more columns.
Example: df.sort_values(by='Age') sorts the DataFrame by the 'Age' column in ascending order.

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series: A Pandas Series is mutable.
DataFrame: A Pandas DataFrame is also mutable.
Panel : A Pandas Panel is immutable.

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [13]:
import pandas as pd


student_names = pd.Series(["Apratim", "Bobby", "Candy", "David"])
student_grades = pd.Series([95, 92, 88, 87])
student_ages = pd.Series([25, 30, 27,45])
student_subjects = pd.Series(["Math", "English", "Science", "History"])

data = {
    "Name": student_names,
    "Grade": student_grades,
    "Subject": student_subjects,
    "Age":student_ages
}

df = pd.DataFrame(data)

print(df)

      Name  Grade  Subject  Age
0  Apratim     95     Math   25
1    Bobby     92  English   30
2    Candy     88  Science   27
3    David     87  History   45