Q1. Create one variable containing following type of data:

In [2]:
var= ("Hello", [2,4,3,5,8], 7.23, (8, 7, 6, 9, 11))

Q2.Given are some following variables containing data:

var1 = It's contains a single space charecter ,which makes it is a string.
var2= It's also a string because  it is assigned a string value enclosed in single quotes.
var3= It's is a list because it is assigned multiple string values enclosed in square brackets.
var4 is a float.

Q3. Explain the use of the following operators using an example

/ : Division (Divides the number on its left by the number on its right and returns a floating point value.)

ex: x = 12
y = 3

print(x / y)

output:4

%  : Modulo (The Python modulo operator calculates the remainder of dividing two values)

ex: x = 5
y = 2

print(x % y)
output:1

//	: Floor division (the floor division // rounds the result down to the nearest whole number)

ex:x = 15
y = 2

print(x // y)

output:7

**   :	Exponentiation(The operator that can be used to perform the exponent arithmetic in Python is **)

ex:x = 2
y = 5

print(x ** y)

output:32

 Q4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [3]:
list= [ 6,7.5, True, [5,6,7],'pwskills',{'name': 'Anish', 'age': 20},False,(8,9,10),None,78.23]

for element in list:
    print( element, type(element))

6 <class 'int'>
7.5 <class 'float'>
True <class 'bool'>
[5, 6, 7] <class 'list'>
pwskills <class 'str'>
{'name': 'Anish', 'age': 20} <class 'dict'>
False <class 'bool'>
(8, 9, 10) <class 'tuple'>
None <class 'NoneType'>
78.23 <class 'float'>

Q5. Using a while loop, verify  if the number A is purely divisible by number B and if so then how many times it can be divisible>

In [6]:
x = 200
y = 25
c = 0

while x % y == 0:
    x = x // y
    c += 1

print("Number of times X is divisible by Y:", c)

Number of times X is divisible by Y: 1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [8]:
list= [41, 12, 8, 91, 73, 1, 85, 31, 1, 34, 42, 81, 66, 60, 81, 57, 8, 19, 71, 11, 57, 22, 29, 48, 20]

for e in list:
    if e % 3 == 0:
        print(e, "is divisible by 3")
    else:
        print(e, "is not divisible by 3")

41 is not divisible by 3
12 is divisible by 3
8 is not divisible by 3
91 is not divisible by 3
73 is not divisible by 3
1 is not divisible by 3
85 is not divisible by 3
31 is not divisible by 3
1 is not divisible by 3
34 is not divisible by 3
42 is divisible by 3
81 is divisible by 3
66 is divisible by 3
60 is divisible by 3
81 is divisible by 3
57 is divisible by 3
8 is not divisible by 3
19 is not divisible by 3
71 is not divisible by 3
11 is not divisible by 3
57 is divisible by 3
22 is not divisible by 3
29 is not divisible by 3
48 is divisible by 3
20 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Immutable Data Types :A Python object is referred to as immutable if we cannot change its value over time. The value of these Python objects is fixed once they are made.
Ex: Numbers (Integer, Float, Complex, Decimal, Rational & Booleans),Tuples,Strings

Mutable Data Types : The term "mutable" in Python refers to an object's capacity to modify its values. These are frequently the things that hold a data collection.
Ex:Lists,Dictionaries,Sets,User-Defined Classes